#post-image-input-text {
    margin-top: 0.8vh;
    font-weight: 700;
    font-size: 15px;
    line-height: 17.9px;
}

#post-image-input {
    margin-top: 0.7vh;
}

#post-image-preview {
    display: none;
}

