#password-edit-text {
    margin-top: 14.9vh;
    font-weight: 700;
    font-size: 32px;
    line-height: 38.19px;
}

#edit-password-form {
    margin-top: 8.7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}


#edit-password-btn {
    margin-top: 1.7vh;
    width: 353px;
    height: 33px;
    background-color: #ACA0EB;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.71px;

    transition: all 1s;
}

#edit-complete-btn {
    margin-top: calc(5.9vh + 40vh);
    width: 102px;
    height: 46px;
    border-radius: 30px;
    background-color: #7F6AEE;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;

    transition: all 0.5s ease-in-out; 
    display: none;
}