#edit-post-box {
    width: 592px;
    display: flex;
    flex-direction: column;
}


#edit-post-padding-box {
    width: 592px;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
}

#edit-post-complete-btn {
    width: 355px;
    height: 33px;
    background-color: #7F6AEE;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.71px;
    border-radius: 4px;

    cursor: pointer;
}



