#add-post-box {
    width: 592px;
    display: flex;
    flex-direction: column;
}

#add-post-padding-box {
    width: 592px;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
}

#complete-btn {
    width: 355px;
    height: 33px;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;

    transition-property: background-color;
    transition-duration: 1s;

    cursor: pointer;
}

