#edit-post-box {
    width: 100%;
    height: 100%;

    background: rgba(244, 245, 247); 
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 20px; 
}

#edit-post-form {
    width: 592px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#edit-post-padding-box {
    width: 592px;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
}

#edit-post-complete-btn {
    width: 355px;
    height: 33px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.71px;
    border-radius: 4px;

    cursor: pointer;
}



