#add-btn-box {
    width: 592px;

    margin-top: 2.2vh;
    margin-bottom: 0.7vh;

    display: flex;
    flex-direction: row;
    justify-content: right;
}

#add-btn {
    width: 138px;
    height: 39px;

    border-radius: 16px;
    background-color: #8fce92;
    border: none;

    font-size: 16px;
    font-weight: 700;
    line-height: 25.04px;
    color: white;

    cursor: pointer;
    transition: all 0.5s ease;
}

#add-btn:hover {
    background-color: #409344;

    transform: scale(1.05); 
}