.comment {
    padding: 14px;
    width: 592px;
    margin-top: 21px;
    display: flex;
    flex-direction: row;

    outline: none;
    border-radius: 20px;
    box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;
}

.comment-writer-box {
    width: 424px;
    display: flex;
    flex-direction: column;
}

.comment-writer {
    width: 424px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment-writer-img {
    width: 36px;
    height: 36px;
    border-radius: 30%;
}

.comment-writer-nickname {
    width: 79px;
    height: 20px;
    font-weight: 700;
    font-size: 25px;
    line-height: 19.5px;
    margin-left: 10px;
}

.comment-writer-time {
    width: 133px;
    height: 18px;
    font-weight: 400;
    font-size: 22px;
    line-height: 18.2px;
    margin-left: 24px;
}

.comment-content {
    margin-top: 8px;
    margin-left: 46px;
    font-weight: 400;
    font-size: 20px;
    line-height: 21.15px;
    border:none;
    background-color: #F4F5F7;
}


.comment-btn-box {
    width: 160px;
}

.comment-edit-btn {
    margin-top: 21px;
    margin-left: 70px;
    background-color: #F4F5F7;
    border: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 23.48px;

    border-radius: 20px;
    box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
    cursor: pointer;
}

.comment-edit-btn:hover {
    box-shadow: initial;
}

.comment-delete-btn {
    margin-top: 21px;
    margin-left: 2px;
    background-color: #F4F5F7;
    border: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 23.48px;
    border-radius: 20px;
    box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;

    cursor: pointer;
}

.comment-delete-btn:hover {
    box-shadow: initial;
}